%btn {
  cursor: pointer;
  padding: 12px 25px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  font-size: medium;
  font-family: 'NanumGothicBold';
  transition: 0.3s background;
}

%noBackgroundBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  transition: 0.3s background;
}

%noBackgroundBtn:hover {
  background: #e8e8e8;
}

.YellowBtn {
  @extend %btn;
  background: #f1b61b;
}

.YellowBtn:hover {
  background: #be8f15;
}

.WhiteBtn {
  @extend %btn;
  background: #ffffff;
}

.WhiteBtn:hover {
  background: #e8e8e8;
}

.ModalBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 10px;
  font-family: 'NanumGothicBold';
  font-size: xx-large;
  color: #e52828;
  border-radius: 30px;
  background: none;
  position: absolute;
  right: 10px;

  &:hover {
    background: #e8e8e8;
  }
}
.removeBtn {
  @extend %noBackgroundBtn;
  color: #e52828;
}

.addBtn {
  @extend %noBackgroundBtn;
  color: #3dadff;
}

.unableBtn {
  @extend %btn;
  background: #e8e8e8;
  cursor: not-allowed;
}
