.textInput {
  padding: 15px 10px;
  font-size: medium;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.twoInputDiv {
  display: flex;
  width: 100%;
  margin-bottom: 10px;

  > input:first-child {
    flex: 3;
    margin-right: 10px;
  }
  > input:last-child {
    flex: 7;
  }
}