.blockContainer {
  width: 100%;
  background: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.trashCan {
    background: none;
    color: #E52828;
}

.btnContainer {
    display: flex;
    justify-content: end;

    > button {
        margin-left: 10px;
    }
}