.contentBox {
  height: 400px;
  overflow-y: scroll;
}

.doubleContentDiv {
  margin: auto;
  width: 80vw;
  min-width: 786px;

  > div {
    width: 48%;
    min-width: 380px;
  }

  > div:first-child {
    float: left;
  }

  > div:nth-child(2) {
    float: right;
  }

  &::after {
    content: '';
	display: block;
	clear: both;
  }
}

.timelineListContainer {
  > .timelineContainer {
    border-bottom: 1px solid gray;
  }

  > .timelineContainer:last-child {
    border-bottom: none;
  }
}

.timelineContainer {
  min-height: 55px;
  margin-bottom: 10px;
}