.contentBox {
  height: 620px;
  overflow-y: scroll;
}

.doubleContentDiv {
  margin: auto;
  width: 80vw;
  min-width: 786px;

  > div {
    width: 48%;
    min-width: 380px;
  }

  > div:first-child {
    float: left;
  }

  > div:nth-child(2) {
    float: right;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.charterContainer {
  > * {
    border-bottom: 1px solid gray;
  }

  > *:last-child {
    border-bottom: none;
  }
}

.charterSection {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.charterBlock {
  margin-bottom: 5px;
  > p:first-child {
    font-family: 'NanumGothicBold';
  }

  > p:last-child {
    margin-left: 10px;
  }
}

.timelineListContainer {
  > .timelineContainer {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }

  > .timelineContainer:last-child {
    border-bottom: none;
  }
}

.timelineContainer {
  min-height: 55px;
  margin-bottom: 10px;
}

.dateText {
  display: flex;
  align-items: center;
  padding: 5px 0px 10px 0px;
  margin-bottom: 10px;
  font-size: large;
  border-bottom: 1px solid gray;
  > *:first-child {
    margin-right: 10px;
  }
}

.timelineTitle {
  margin-bottom: 3px;
  display: flex;
  align-items: end;
}

.calendarTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  border-radius: 10px;
  font-size: small;
  font-family: 'NanumGothicBold';
}

.calendarSprint {
  flex-grow: 1;
  font-size: smaller;
  font-family: 'NanumGothic';
  width: 100%;
  color: black;
  padding: 3px;
  border-radius: 10px;

  &.gray {
    background: #DEE3E1;
  }

  &.red {
    background: #f7cacd;
  }

  &.blue {
    background: #d8e4ff;
  }

  &.yellow {
    background: #f7f3e3;
  }

  &.green {
    background: #c7f0bd;
  }
}
