.contentTitle {
  display: flex;
  justify-content: space-between;
}

.smallTitle {
  font-family: 'NanumGothicBold';
  font-size: x-large;
  margin: 10px 0px;
}

.downArrow {
  margin: 10px 0px;
  font-size: xx-large;
  text-align: center;
}
