.selectCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 20px 0px;
  width: 100%;
  gap: 10px;

  > * {
    flex: 1;
  }
}

.card {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.selectedCard {
  @extend .card;
  font-family: 'NanumGothicBold';
  border: 1px solid black;
  background: #f1b61b;
}

.cardInfoIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cardInfoBox {
  display: none;
  position: absolute;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  top: 10px;
  right: 35px;
  font-size: small;
  font-family: 'NanumGothicBold';

  > p {
    padding: 3px;
    border-radius: 5px;
  }

  .highlight {
    background: #f1b61b;
    color: black;
  }
}

.cardInfoIcon:hover + .cardInfoBox {
  display: block; /* cardInfoIcon에 hover하면 보이도록 설정 */
}

.cardTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cardTitle {
  font-size: large;
}

.cardDiscriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.cardDiscription {
  font-size: small;
}
