.contentTitle {
  > * {
    border-bottom: 1px solid #d8d8d8;
  }
}

.contentBox {
  max-height: 80vh;
  overflow-y: scroll;

  > * {
    border-bottom: 1px solid #d8d8d8;
  }

  > *:last-child {
    border-bottom: none;
  }
}

.category {
  padding: 5px;
  text-align: center;
  font-family: 'NanumGothicBold';
}

.flexOne {
  flex: 1;
}

.flexTwo {
  flex: 2;
}

.notice {
  width: 100%;
  text-align: center;
  padding: 30px;

  p:nth-child(1) {
    margin-bottom: 10px;
  }
}

.btnsDiv {
  display: flex;
}

.iconBtn {
  display: flex;
  align-items: center;

  > *:first-child {
    margin-right: 10px;
  }
}